/* Header Styling */
.header-title {
  display: flex;
  align-items: center; // Align icon and text vertically
  justify-content: center; // Center the title horizontally
  font-size: 1.8em; // Increase font size for a bold look
  font-family: "OrbitronLight", sans-serif;
  font-weight: 600; // Bold text
  margin: 20px;

  i {
    margin-right: 12px; // Adjust space between icon and text
    color: #007aff; // Same color for the icon
    font-size: 1.6em; // Adjust icon size
  }
}

ion-header {
  height: 100px;
}

ion-toolbar {
  --background: #f8f8f8; // Light background for the toolbar
  --border-color: transparent; // Remove border under toolbar
}

/* Home Content Styling */
.home-content {
  --background: #f8f8f8; // Light background color
  padding: 20px; // Inner padding for the content
}

.body-title {
  font-size: 30px;
  padding-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center; // Center items horizontally
  margin-top: 20px; // Space above the content
}

.card-container {
  display: flex;
  justify-content: space-around; // Space cards evenly
  width: 100%; // Full width
  margin-top: 20px; // Space above cards
}

.verification-card {
  width: 40%;
  height: 254px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 0px 20px 60px #044bce6e, -20px -20px 60px #ffffff;
  transition: transform 0.2s; // Animation effect on hover

  &:hover {
    transform: translateY(-5px); // Lift effect on hover
  }
}

ion-card-header {
  background-color: #f0f0f0; // Light gray background for the header
  border-top-left-radius: 12px; // Round top left corner
  border-top-right-radius: 12px; // Round top right corner
}

ion-card-title {
  font-weight: bold; // Bold title
  font-size: 1.4em; // Increase title size
}

ion-card-content {
  color: #666; // Dark gray text for content
  text-align: center; // Center text
  padding: 16px; // Add padding to the content
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  font-weight: 600;

  i {
    margin-right: 10px;
    font-size: 1.6em;
  }
}

ion-button {
  --background: transparent;
  --color: #007aff; /* Optional: Apple's blue color */
  font-size: 1.4em;
}
